{{ define "collection" }}
<div class="w-full">
    <div class="grid mobile:grid-cols-1 grid-cols-3">
        {{ range .teams }}
        <!-- mobile display -->
        <div class="mobile:block tablet:hidden">
            <a href="/docs/{{.Id}}">{{ .Name }}</a>
        </div>
        {{ end }}

        <!-- another display -->
        <div class="mobile:hidden text-md p-2 font-medium border-2 border-grey-900">Name</div>
        <div class="mobile:hidden text-md p-2 font-medium border-2 border-grey-900">LastUpdated</div>
        <div class="mobile:hidden text-md p-2 font-medium border-2 border-grey-900">Action</div>

        {{ range .teams }}
        <div class="mobile:hidden p-2 border-[1px] border-grey-900">{{ .Name }}</div>
        <div class="mobile:hidden p-2 border-[1px] border-grey-900">{{ .LastUpdated }}</div>
        <div class="mobile:hidden p-2 border-[1px] border-grey-900 flex flex-row gap-2">
            <div class="w-[25px]">
                <a href="/docs/{{.Id}}">
                    <img src="/assets/view.svg"/>
                </a>
            </div>
            <div class="w-[25px] cursor-pointer">
                    <img src="/assets/download.svg" />
            </div>
        </div>
        {{ end }}
    </div>
    
</div>
{{ end }}